{% load static %}

<style>
  .card-link {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
  }

  .card-link:hover {
    transform: scale(1.05);
    text-decoration: none;
  }

  .card-link:hover .card-body h6 {
    color: #f85707; /* Change text color on hover */
  }

  .card-link:hover .card-body p {
    color: #007bff; /* Change price color on hover */
  }

  .load-more-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #00a1c9;
    border: 2px solid #00a1c9;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
  }

  .load-more-btn:hover {
    background-color: #00a1c9;
    color: #fff;

  }

</style>
<div class="row row-cols-1 row-cols-md-6 g-4">
<div class="col">
  {% for product in products %}
    <div class="card">
      <a href="{% url "productdetail" id=product.id %}" class="card-link">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">{{product.name}}</h6>
          <p class="card-text" style="color:#f85707;">Rs. {{product.price}}</p>
        </div>
      </a>
</div>
{% endfor %}
</div>